# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Output of go build
*.out
bin/
build/
dist/

# Dependency directories (often not needed)
vendor/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

local_vtlp/extended_version.pdf
